body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}


canvas {
    border: 1px solid black;
    position : absolute;
    left : 100px;
}


#diceButton {
    position : absolute;
    width : 90px;
    height : 100px;
}


#blueMarbleText {
    position: absolute;
    font-size: 50px;
    left : 440px;
    top : 400px;
}

.cities {
    position: absolute;
    font-size: 25px;
}



.diceResult {
    position: absolute;
    font-size : 40px;

    left : 440px;
    top : 450px;
}


.player_1 {
    position: absolute;
    left : 1050px;
    font-size : 30px;
    margin-top: 10px;
    border : 1px solid black;
    padding-top : 50px;
    padding-bottom: 50px;
    padding-right : 400px;
}

.player_2 {
    position: absolute;
    left : 1050px;
    font-size : 30px;
    top : 150px;
    border : 1px solid black;
    padding-top : 50px;
    padding-bottom: 50px;
    padding-right : 400px;
}

.player_3 {
    position: absolute;
    left : 1050px;
    font-size : 30px;
    top : 300px;
    border : 1px solid black;
    padding-top : 50px;
    padding-bottom: 50px;
    padding-right : 400px;
}

.player_4 {
    position: absolute;
    left : 1050px;
    font-size : 30px;
    top: 450px;
    border : 1px solid black;
    padding-top : 50px;
    padding-bottom: 50px;
    padding-right : 400px;
}



#player_1_horse {
    font-size : 30px;
    position: absolute;
    left : 880px;
    top: 790px;
}


#player_2_horse {
    font-size : 30px;
    position: absolute;
    left : 900px;
    top: 790px;
}


#player_3_horse {
    font-size : 30px;
    position: absolute;
    left : 920px;
    top: 790px;
}


#player_4_horse {
    font-size : 30px;
    position: absolute;
    left : 940px;
    top: 790px;
}


/*도시 위치잡기  (옆, 위로 각각 150px 씩 차이두면 된다.*/

#start {
    left : 880px;
    top: 790px;
}

#taipei {
    left : 730px;
    top: 790px;
}

#hongkong {
    left : 580px;
    top: 790px;
}

#maynila {
    left : 430px;
    top: 790px;
}

#singapore {
    left : 280px;
    top: 790px;
}

#uninhabitedIsland{
    left : 130px;
    top: 790px;
}

#istanbul {
    left : 130px;
    top : 640px;
}

#copenhagen {
    left : 130px;
    top : 490px;
}

#zurich {
    left : 130px;
    top : 340px;
}

#berlin {
    left : 130px;
    top : 190px;
}

#getSocialWelfareFund {
    left : 130px;
    top : 40px;
    font-size : 18px;
}

#sydney {
    left : 280px;
    top: 40px;
}

#lisbon {
    left : 430px;
    top: 40px;
}

#madrid {
    left : 580px;
    top: 40px;
}

#paris {
    left : 750px;
    top: 40px;
}

#spaceStation {
    left : 880px;
    top: 40px;
    font-size : 20px;
}

#roma {
    left : 890px;
    top: 190px;
}

#london {
    left : 890px;
    top: 340px;
}

#newyork {
    left : 890px;
    top: 490px;
}

#paySocialWelfareFund {
    left : 890px;
    top: 640px;
    font-size : 18px;
}